body {
  background-color: #121212;
  font-family: 'Rubik', sans-serif;
  color: white;
}

header {
  margin: auto;
  width: fit-content;
  padding: 1em 3em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
}