body {
  background-color: #121212;
  font-family: 'Rubik', sans-serif;
  color: white;
}

div,
header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  margin: 20px auto;
  width: fit-content;
  padding: 1em 3em;
  text-align: center;
}